* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lucida;
  }
  a{
    text-decoration: none;
    color: black;
  }
  button{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
  }

  /* ---------nav start------------- */
  #Nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 1;
    padding-top: 5px;
  }
  #Nav svg{
    width: 30px;
  }
  #Nav > .upNav {
    width: 95%;
    display: flex;
    justify-content: right;
    height: 30px;
    align-items: center;
  }
  .upNav > div {
    margin-left: 20px;
  }
  .upNav > div:nth-child(3) {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
  }
  .upNav > div:nth-child(2) > select {
    border: 0px;
  }
  .upNav > div:nth-child(3) > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #Nav > .bottomNav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .bottomNav > div {
    width: 150px;
    margin-left: 10px;
  }
  .bottomNav > div >a> img {
    width: 80%;
  }
  .bottomNav > div:nth-child(4) {
    width: 100%;
  }
  
  #SearchP{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
  }
 /* ---------nav end------------- */

#top{
    text-align: center;
    font-size: xx-large;
    padding-top: 100px;
}

 .empty{
    font-size:50px;
    text-align: center;
    padding:120px 0px 120px 0px;
    color: grey;
 }
 #container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    /* border: 2px solid red; */
  }
  .buttonDiv{
    width: 80%;
    margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  }
 
  #container button{
    background-color: rgb(248, 26, 37);
    border: 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid silver; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  #container img {
    width: 100%;
  }
  #container h5 {
    font-size: x-large;
  }
  #container p {
    color: grey;
  }
  #billing{
    border: 2px solid rgb(193, 177, 193);
    padding: 30px;
    width: 30vw;
    margin: auto;
    border-radius: 10px;
  }

  #heading_cart{
    color: #714da6;
    margin-bottom: 20px;
  }
  .cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 1vw;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin: auto;
    margin-top: 20px;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }


/* -----------foot start---------------- */
#foot {
    display: flex;
    width: 100vw;
    margin: auto;
    background-color: rgb(243, 242, 242);
    border-top: 1px solid black;
    justify-content: space-around;
    margin-top: 50px;
    padding: 50px;
  }
  #foot > .rating img {
    width: 500px;
    margin-bottom: 10px;
  }

  .rating p {
    margin-left: 80px;
  }
  #foot > .ihi {
    display: flex;
  }
  .ihi {
    display: flex;
  }

  .ihi h4 {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .ihi p {
    margin-bottom: 8px;
    margin-right: 10px;
  }
/* --------------foot end------------- */


@media screen and (max-width: 800px) {
  #container{
      grid-template-columns: repeat(2,50vw);
      width: 80vw;
      justify-content: center;
  }
  #top>div{
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  #foot{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
#foot>.ihi{
  margin: 50px;
  width: 100%;
  padding-bottom: 100px;
}
#foot>.rating>.rat>img{
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

h4{
  margin: auto;
  margin-top: 10px;
}


}