
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Lucida;
}
a{
  text-decoration: none;
  color: black;
}
#Nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 1;
}
#Nav > .upNav {
  width: 95%;
  display: flex;
  justify-content: right;
}
.upNav > div {
  margin-left: 20px;
}
.upNav > div:nth-child(3) {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
.upNav > div:nth-child(2) > select {
  border: 0px;
}
.upNav > div:nth-child(3) > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#Nav > .bottomNav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.bottomNav > div {
  width: 150px;
  margin-left: 10px;
}
.bottomNav > div >a> img {
  width: 80%;
}
.bottomNav > div:nth-child(4) {
  width: 100%;
}
.bottomNav > div:nth-child(4) > input {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}
#Top {
  width: 100%;
}
#Top > .poster {
  display: flex;
  background-color: #f1f1f0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 100px;
}
#Top > .poster > img {
  width: 80%;
  margin: auto;
}
.high {
  height: 350px;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.high::-webkit-scrollbar {
  display: none;
}
.high > div {
  display: flex;
}
.high > div > img {
  width: 330px;
  height: 350px;
}
#Top h4 {
  display: block;
  rotate: 270deg;
  margin: auto;
  margin-left: 0px;
  font-size: 30px;
  width: 250px;
  height: 150px;
}
.disc {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  height: 350px;
}
.disc > div {
  display: flex;
}
.disc > div > img {
  width: 330px;
  height: 350px;
}
.disc::-webkit-scrollbar {
  display: none;
}

.bth {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.bth img {
  width: 400px;
  height: 300px;
}
.b {
  height: 410px;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.b::-webkit-scrollbar {
  display: none;
}

.b > div {
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  border-left: none;
  font-size: 25px;
  border-bottom: 1px solid black;
}
.b > div:nth-child(1) {
  font-size: 80px;
  background-color: rgb(235, 234, 234);
  padding: 10px;
  padding-right: 38px;
  font-family: monospace;
}
.t {
  height: 400px;
  display: flex;
  /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.t::-webkit-scrollbar {
  display: none;
}
.t > div {
  /* border-top: 0.5px solid black; */
  border-right: 0.5px solid black;
  border-left: none;
  font-size: 25px;
}
.t > div:nth-child(3) {
  font-size: 80px;
  background-color: rgb(235, 234, 234);
  padding: 10px;
  padding-right: 38px;
  font-family: monospace;
}
.h {
  height: 400px;
  display: flex;
  border-bottom: 1px solid black;
  /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.h::-webkit-scrollbar {
  display: none;
}
.h > div {
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  border-left: none;
  font-size: 25px;
}
.h > div:nth-child(2) {
  font-size: 80px;
  background-color: rgb(235, 234, 234);
  width: 500px;
  padding: 10px;
  padding-right: 170px;
  font-family: monospace;
}
.bth h6 {
  font-size: 30px;
  margin-top: 0px;
}
#middle {
  display: flex;
  /* flex-direction: column;  media query */
  margin-top: 100px;
  width: 100%;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 800px) {
  #middle {
    flex-direction: column;
    margin-bottom: 150px;
   
  }
  #middle > .join {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    
  }
  #middle > .join > h3 {
    width: 100%;
    font-size: 30px;
  }
  #bottom {
    position: relative;
  }
  #bottom {
    width: 500px;
  }
  .colm {
    width: 700px;
    padding-left: 10px;
  }
  #foot{
    display: flex;
    flex-direction: column;
  }
  #foot>.ihi{
    margin: 50px;
    width: 100%;
    padding-bottom: 100px;
  }
  #foot>.rating>.rat>img{
    width: 100%;
    height: 100%;
    padding-top: 200px;
  }
  #foot>.rating>.rat{
    width: 100%;
    padding-top: 200px;
  }
  .bth{
    width: 80%;
  }
  .bth>.b{
    flex-direction: column;
    overflow-y: visible;
    margin-bottom: 100px;
    height: 1000px;
    border-bottom: 1px solid black;
  }
  .bth>.t{
    flex-direction: column;
    overflow-y: visible;
    margin-bottom: 100px;
    height: 1000px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .bth>.h{
    flex-direction: column;
    overflow-y: visible;
    margin-bottom: 100px;
    height: 1000px;
    border-bottom: 1px solid black;
  }
  #top>div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#foot{
display: flex;
flex-direction: column;
width: 80%;
}
#foot>.ihi{
margin: 50px;
width: 100%;
padding-bottom: 100px;
}
#foot>.rating>.rat>img{
width: 100%;
height: 100%;
padding-top: 50px;
}

h4{
  margin: auto;
  margin-top: 10px;
}
  
}
#middle > .step {
  display: flex;
  width: 100%;
  justify-content: right;
  padding-top: 50px;
  background-color: rgb(225, 225, 225);
  padding-left: 40%;
  font-size: larger;
  height: 100%;
}
.step h1 {
  font-size: 100px;
}
#middle > .join {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: greenyellow;
  font-size: larger;
  padding-left: 30px;
  padding-top: 100px;
}
#middle > .join a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#middle > .join:hover {
  background-color: rgb(211, 192, 229);
}
.join > h3 {
  width: 25%;
}
.step p {
  font-family: "Lucida Sans";
  font-size: x-small;
  color: rgb(92, 92, 92);
  margin: 10px 10px 10px 0px;
  width: 150px;
}
.step > div h3 {
  font-family: Arial;
}
.join > button {
  width: 70px;
  background-color: black;
  color: white;
  padding: 8px;
  margin-top: 10px;
}
.step > div {
  margin-left: 10px;
}
.step {
  width: 75%;
}
#bottom {
  width: 100%;
  display: grid;
  height: 400px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  margin: auto;
  border-bottom: 1px solid black;
}
#bottom::-webkit-scrollbar {
  display: none;
}

.mw {
  rotate: -90deg;
  margin: auto;
  translate: -230px;
  font-size: 40px;
  width: 500px;
  text-align: center;
  height: 40px;
  grid-area: 1/1/3/2;
}
.colm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 1/2/3/6;
  translate: -450px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  padding-left: 50px;
}
.colm > div {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 500px;
  font-size: x-large;
}
.colm > div::-webkit-scrollbar {
  display: none;
}
.colm > div > div {
  width: 300px;
  height: 80px;
  margin-right: 90px;
}
#foot {
  display: flex;
  width: 100vw;
  /* height: 500px; */
  margin-top: 50px;
  background-color: rgb(243, 242, 242);
  border-top: 1px solid black;
  padding: 50px;
  justify-content: space-around;
}
#foot > .rating img {
  width: 500px;
  margin-bottom: 10px;
}

.rating p {
  margin-left: 80px;
}
#foot > .ihi {
  display: flex;
}
.ihi {
  display: flex;
}

.ihi h4 {
  margin-bottom: 20px;
  margin-right: 10px;
}
.ihi p a {
  margin-bottom: 8px;
  margin-right: 10px;
}
#newOn > h5 {
  text-align: center;
  font-size: xx-large;
}
button {
  cursor: pointer;
}
.blank{
  height: 50px;
}
